# Pastas de build do .NET
[Bb]in/
[Oo]bj/

# Pastas e arquivos do VS/VS Code
.vs/
.vscode/

arena-rpg-f0305-firebase-adminsdk-fbsvc-b8d7f30e09.json

# Logs locais de treino da IA (Para não sujar o repositório)
LogsDeTreino/
*.jsongit init